/* Inclusión de fuente personalizada */
@font-face {
  font-family: Ubuntu;
  src: url(Ubuntu-R.ttf);
}

/* Estilo global para el cuerpo */
body {
  font-family: Ubuntu, sans-serif;
  background: linear-gradient(135deg, teal, #64d8cb);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

/* Estilo para el formulario */
#formlogin {
  width: 100%;
  max-width: 350px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
}

/* Animación suave para el formulario */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo para el logo */
#logo {
  width: 50%;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}
#logo:hover {
  transform: scale(1.1);
}

/* Estilo para los campos de entrada y botones */
input, button {
  width: 100%;
  padding: 12px 0;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid teal;
  transition: all 0.4s ease;
  font-family: Ubuntu, sans-serif;
  font-size: 1rem;
}

/* Estilo al enfocar los campos de entrada */
input:focus {
  outline: none;
  background: teal;
  color: #ffffff;
  border-radius: 5px;
}

/* Estilo para los botones */
button {
  background: teal;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.4s ease, transform 0.2s;
}

button:hover {
  background: #008080; /* Color ligeramente más oscuro al pasar el mouse */
  transform: scale(1.05);
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 768px) {
  #formlogin {
    margin-top: 50px;
    padding: 20px 15px;
  }
  
  input, button {
    font-size: 0.9rem;
  }
  
  #logo {
    width: 60%;
  }
}
